.poster {
    width: 100%;
    height: 780px;
    position: relative;
    padding: 133px;
    display: flex;
    align-items: flex-end;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &-breadcrumbs {
            a:hover {
                opacity: 1;
            }

            a {
                color: var(--white);
                opacity: 0.4;
                transition: all 0.3s ease;
            }

            span {
                color: var(--white);
            }
        }

        h1 {
            color: var(--white);
        }

        &-works--tab {
            display: flex;
            gap: 48px;
            button:hover{
                opacity: 1;
                &::after{
                    width: 100%;
                }
            }
            button {
                padding: 0 12px 12px 12px;
                position: relative;
                font-size: 32px;
                opacity: .6;
                transition: all 0.5s ease;
                background: transparent;
                color: var(--white);
            }

            button::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                background: var(--green);
                height: 1px;
                transition: all 0.5s ease;
            }
        }
    }

}

.about {
    margin-top: var(--heading);
    width: 100%;

    .container {
        padding: 0 103px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        h2 {
            color: var(--black);
            text-align: center;
        }

        &-frame {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;

            img {
                width: 712px;
                height: 800px;
                object-fit: cover;
            }

            &-info {
                display: flex;
                flex-direction: column;
                gap: 200px;
                padding: 48px;

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 46px;

                    h3 {
                        color: var(--black);
                    }

                    p {
                        color: var(--black);
                        opacity: .4;
                    }
                }
            }
        }
    }
}