.el--fade {
    transition: all 0.6s ease-out;
    opacity: 0;
    transform: translateY(50%);
}

.el--opacity {
    transition: all 0.6s ease-out;
    opacity: 0;
}

.el--opacity.show {
    opacity: 1;
}

.el--fade.show {
    opacity: 1;
    transform: translateY(0);
}
.el--left{
    transition: all 0.5s ease;
    transform: translateX(-10%);
    opacity: 0;
}
.el--left.show {
    transform: translateX(0%);
    opacity: 1;
}
.preloader .letters{
    fill: none;
    stroke: #000;
}

.preloader svg .green-lines {
    stroke: #b8f13c !important;
    fill: none;
}

.button-fade:hover {
    .animated-fade {
        transform: translateY(-100%);
    }
}

.button-fade {
    .wrap-animation {
        max-height: 22.5px;
        overflow: hidden;
        display: flex;

        .animated-fade {
            position: relative;
            display: flex;
            flex-direction: column;
            transition: all 0.5s ease;
        }
    }
}

.main-title {
    display: flex;

    span.walker {
        width: 32px;
    }
}