.button--green {
    background: var(--green);
    color: var(--black);

    svg {
        width: 14px;
        height: 14px;
    }
}

.button--white {
    background: transparent;
    color: var(--white);
    border: 1.5px solid var(--white);

    svg {
        width: 14px;
        height: 14px;
    }
}
.button--small {
  padding: 18px 28px;
}
.button--middle {
  padding: 26px 40px;
}