.case {
    margin-top: var(--heading);
    width: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--heading);
        &-item:last-child {
            .item--frame {
                .item--frame-el:nth-last-child(-n+2){
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            gap: 80px;
            .case--item-head{
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            .item--frame {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 100px;
                width: 100%;
                column-gap: 38px;
                &-el {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    padding-bottom: 100px;
                    border-bottom: 1px solid #B2B2B233;
                    position: relative;
                    .wrap {
                        border-radius: 24px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 24px;
                            object-fit: cover;
                            aspect-ratio: 4/3;
                        }

                        .circle.animated {
                            scale: 1;
                        }

                        .circle {
                            width: 64px;
                            height: 64px;
                            border-radius: 50%;
                            background: var(--green);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            transition: scale 0.3s ease;
                            scale: 0;
                            margin-top: -32px;
                            margin-left: -32px;

                            svg {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                    .info{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        h4{
                            font-size: 42px;
                            color: var(--black);
                        }
                        p{
                            max-width: 60%;
                            font-size: 24px;
                            color: var(--black);
                            opacity: .4;
                        }
                    }
                }
            }
        }
    }
}