.contact {
    width: 100%;
    position: relative;
    padding: 259px 0px 149px 0px;

    .back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-request {
            width: 100%;
            background: var(--white);
            border-radius: 24px;
            padding: 60px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            &-head {
                display: flex;
                flex-direction: column;
                gap: 36px;

                h1 {
                    color: var(--black);
                }

                p {
                    color: var(--black);
                    opacity: .6;
                }
            }

            .request--form {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .inputs {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 32px;

                    .input--form-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        label {
                            font-size: 20px;
                            color: var(--black);
                            opacity: .5;
                        }

                        input {
                            width: 100%;
                            padding: 22px 30px;
                            border-radius: 500px;
                            background: var(--white);
                            border: 1px solid rgba(54, 59, 35, 0.2);
                            font-size: 17px;
                            color: var(--black);
                        }
                    }
                }

                .action {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    gap: 32px;

                    .checkbox:has(input:checked) span {
                        background: var(--green);
                    }

                    .checkbox {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 18px;
                        cursor: pointer;

                        input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            opacity: 0;
                        }

                        span {
                            width: 32px;
                            aspect-ratio: 1/1;
                            border: 0.5px solid #363b23;
                            border-radius: 8px;
                            background: var(--white);
                            transition: all 0.3s ease;
                        }

                        p {
                            font-size: 16px;
                            color: black;
                            opacity: 0.4;
                        }
                    }

                    button {
                        margin-top: 10px;
                        padding: 26px 40px;
                        align-items: center;
                        justify-content: center;
                        max-width: none;
                        width: 100%;
                    }
                }
            }
        }

        &-frame {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 24px;

            div {
                padding: 48px;
                background: var(--white);
                border-radius: 24px;
            }

            &-address {
                grid-column: 1 / 4;
                grid-row: 1 / 3;
                display: flex;
                flex-direction: column;
                gap: 48px;

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 0;
                    h3 {
                        color: var(--black);
                    }

                    p {
                        border-bottom: 1.5px solid rgba(0, 0, 0, .05);
                        position: relative;
                        max-width: max-content;
                        padding-bottom: 10px;
                        transition: all 0.3s ease;
                    }

                    p::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        background: var(--green);
                        width: 0;
                        height: 1.5px;
                        transition: all 0.3s ease;
                    }

                    p:hover {
                        &::after {
                            width: 100%;
                        }

                        border-color: transparent;
                    }
                }
                iframe{
                    width: 100%;
                    height: 164px;
                    border-radius: 24px;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    color: var(--black);
                }

                a:hover {
                    &::after {
                        width: 100%;
                    }

                    border-color: transparent;
                }

                a::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    background: var(--green);
                    width: 0;
                    height: 1.5px;
                    transition: all 0.3s ease;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    border-bottom: 1.5px solid rgba(0, 0, 0, .05);
                    position: relative;
                    max-width: max-content;
                    padding-bottom: 10px;
                    font-weight: 500;
                    transition: all 0.3s ease;
                    svg {
                        width: 16px;
                        height: 16px;
                    }

                }
            }

            &-item:nth-child(2) {
                grid-column: 4;
                grid-row: 1;
            }

            &-item:nth-child(3) {
                grid-column: 4;
                grid-row: 2;
            }
        }
    }
}