.footer {
    width: 100%;
    margin-top: 120px;
    padding-bottom: 60px;

    &__up {
        display: grid;
        grid-template-columns: 28% 1fr;
        width: 100%;
        align-items: start;
        padding: 80px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        .button {
            display: inline-block;
        }

        &-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .footer__contacts {
                span {
                    display: block;
                }

                p {
                    margin-top: 30px;
                    font-size: 18px;
                    opacity: 0.6;
                }

                a {
                    display: inline-block;
                    position: relative;
                    margin-top: 30px;
                    padding-bottom: 10px;
                    font-size: 22px;
                    font-weight: 500;
                    transition: 0.3s;

                    svg {
                        margin-left: 10px;
                    }
                }

                a::after,
                a::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 1.5px;
                    transition: 0.3s;
                }

                a::after {
                    width: 100%;
                    background: rgba(0, 0, 0, 0.05);
                }

                a::before {
                    width: 0%;
                    background: var(--green);
                }

                a:hover:before {
                    width: 100%;
                }
            }
        }
    }

    &__main {
        display: grid;
        grid-template-columns: 28% 1fr;
        padding: 100px 0;
        width: 100%;
        align-items: start;

        .info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 34px;

            p {
                color: black;
                font-size: 32px;
            }

            button {
                padding: 23px 42px;
                max-width: -webkit-max-content;
                max-width: -moz-max-content;
                max-width: max-content;
            }
        }

        .menus {
            display: flex;
            gap: 15%;

            nav {
                display: flex;
                flex-direction: column;
                gap: 24px;

                span {
                    margin-bottom: 10px;
                    color: black;
                }

                ul {
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        color: black;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    &__soft {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
            color: black;
            opacity: 0.4;
        }

        button {
            display: flex;
            align-items: center;
            gap: 6px;
            background: rgba(0, 0, 0, 0);
            color: rgba(54, 59, 35, 0.4);
            svg{
                width: 14px;
                height: 14px;
            }
        }
    }
}