.header {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    transition: all 0.5s ease;
    .container {
        padding: 0 70px;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .header__logo {
            height: 48px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .header__menu {
            padding: 18px 40px;
            background: var(--white);
            border-radius: 500px;

            ul {
                display: flex;
                align-items: center;
                gap: 36px;
            }

            li {
                color: black;
                opacity: 0.7;
                transition: all 0.3s ease;
                overflow: hidden;
                max-height: 22.5px;
                display: flex;
                a{
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease-out;
                }
            }
            li:hover {
                opacity: 1;
                a{
                    transform: translateY(-100%);
                }
            }

            li.current {
                opacity: 1;
            }
        }

        .header__action {
            display: flex;
            align-items: center;
            gap: 12px;

            .language {
                display: flex;
                align-items: center;
                gap: 6px;
                background: var(--white);
                border-radius: 500px;
                padding: 18px 24px;
                color: var(--black);
            }
            a{
                padding: 18px 28px;
            }
        }
    }
}
.header.back{
    transform: translateY(-300%);
}