.main {
    overflow: hidden;
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    padding: 32px;

    &__body {
        border-radius: 24px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        padding: 68px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .hero-title {
            color: var(--white);
            display: flex;
            flex-direction: column;
            gap: 32px;
            line-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
                display: flex;

                span.walker {
                    width: 32px;

                }
            }

            p:nth-child(2) {
                margin-left: 128px;
            }
        }

        .hero-module {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            p {
                color: var(--white);
                opacity: .4;
                line-height: 150%;
            }

            .action {
                display: flex;
                align-items: center;
                gap: 28px;

                a {
                    padding: 23px 42px;
                }
            }
        }
    }
}

.partners {
    width: 100%;
    margin-top: var(--heading);

    &__body {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;

        h2 {
            color: var(--so-green);
        }

        &-frame {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                max-width: 219px;
                max-height: 36px;
            }
        }
    }
}

.works {
    width: 100%;
    margin-top: var(--heading);
    padding-left: 100px;
    overflow: hidden;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 48px;

        .works-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-right: 100px;

            .title {
                color: var(--so-green);
            }

            a {
                padding: 20px 36px;
            }
        }

        .works-container {
            display: flex;
            gap: 24px;
            flex-wrap: nowrap;

            .work::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            }

            .work {
                border-radius: 24px;
                width: 703px;
                min-width: 703px;
                aspect-ratio: 1/1;
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                padding: 48px;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;
                }

                .work-information {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    h3 {
                        color: var(--white);
                    }

                    p {
                        color: var(--white);
                    }
                }
                .circle.animated{
                    scale: 1;
                }
                .circle {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background: var(--green);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    transition: scale 0.3s ease;
                    scale: 0;
                    margin-top: -32px;
                    margin-left: -32px;
                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

.indicators {
    width: 100%;
    margin-top: var(--heading);

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 227.5px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 32px;

            h3 {
                color: var(--so-green);
            }

            p {
                color: var(--so-green);
                opacity: .4;
            }
        }
    }
}

.feedback {
    width: 100%;
    margin-top: var(--heading);

    &__body {
        display: flex;
        background: var(--grey);
        border-radius: 24px;
        align-items: center;

        img {
            width: 924px;
            border-radius: 24px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        &-frame {
            padding: 0 100px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .feedback-head {
                display: flex;
                flex-direction: column;
                gap: 32px;

                h2 {
                    color: var(--so-green);
                }

                p {
                    color: var(--so-green);
                    opacity: .4;
                }
            }

            .feedback-form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    .input-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        label {
                            color: var(--so-green);
                            opacity: .4;
                        }

                        input {
                            width: 100%;
                            height: 81px;
                            padding-left: 42px;
                            border-radius: 500px;
                            background: var(--white);
                            border: 1px solid #363B2366;
                            color: var(--so-green);
                        }
                    }
                }

                .checkbox:has(input:checked) {
                    span {
                        background: var(--green);
                    }
                }

                .checkbox {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    cursor: pointer;

                    input {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        opacity: 0;
                    }

                    span {
                        width: 32px;
                        aspect-ratio: 1/1;
                        border: 0.5px solid #363B23;
                        border-radius: 8px;
                        background: var(--white);
                        transition: all 0.3s ease;
                    }

                    p {
                        color: var(--so-green);
                        opacity: .4;
                    }
                }

                button {
                    padding: 32px 64px;
                    max-width: max-content;
                }
            }
        }
    }
}

.contact {
    width: 100%;
    margin-top: var(--heading);
    padding-top: 243px;

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .logo {
            width: 224px;
            height: 59px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .info {
            display: flex;
            align-items: center;
            gap: 64px;

            .item:nth-child(1) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 24px;

                img {
                    width: 45px;
                    aspect-ratio: 1/1;
                }
            }

            .item:nth-child(2) {
                display: flex;
                flex-direction: column;
                gap: 24px;

                a {
                    font-size: 32px;
                    color: var(--so-green);
                }
            }
        }
    }
}