.main {
    overflow: hidden;
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    padding: 20px;

    &__body {
        border-radius: 24px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        padding: 50px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .hero-title {
            color: var(--white);
            display: flex;
            flex-direction: column;
            line-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -30px;

            p {
                display: flex;

                span.walker {
                    width: 32px;
                }
            }

            p:nth-child(2) {
                margin-left: 160px;
            }
        }

        .hero-module {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;

            p {
                font-size: 20px;
                font-weight: 300;
                color: var(--white);
                opacity: .6;
                line-height: 150%;
            }

            .action {
                display: flex;
                align-items: center;
                gap: 28px;

                a {
                    padding: 24px 40px;
                }
            }
        }
    }
}

.partners {
    width: 100%;
    margin-top: var(--heading);
    overflow: hidden;

    .container {
        overflow: hidden;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        overflow: hidden;

        h2 {
            color: var(--black);
        }

        .partners__stroke-wrap {
            position: relative;
            width: 100%;

        }

        .partners__stroke-wrap::after {
            width: 350px;
            height: 100%;
            position: absolute;
            content: '';
            top: 0;
            background: -webkit-gradient(linear, left top, right top, color-stop(31.1%, #fff), color-stop(88.84%, rgba(255, 255, 255, 0.1)));
            background: linear-gradient(90deg, #fff 31.1%, rgba(255, 255, 255, 0.1) 88.84%);
            z-index: 1;
            right: 0;
            rotate: 180deg;
        }

        .partners__stroke-wrap::before {
            width: 350px;
            height: 100%;
            position: absolute;
            content: '';
            top: 0;
            background: -webkit-gradient(linear, left top, right top, color-stop(31.1%, #fff), color-stop(88.84%, rgba(255, 255, 255, 0.1)));
            background: linear-gradient(90deg, #fff 31.1%, rgba(255, 255, 255, 0.1) 88.84%);
            z-index: 1;
            left: 0;
        }

        .partners__stroke {
            display: flex;
            gap: 50px;
            width: 100%;
            position: relative;
            animation: infinite 20s animPartners linear;
        }



        &-frame {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                max-width: 219px;
                max-height: 36px;
            }
        }
    }
}

.works {
    width: 100%;
    margin-top: var(--heading);
    padding-left: 60px;
    overflow: hidden;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .works-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-right: 60px;

            .title {
                color: var(--black);
            }

            a {
                padding: 26px 40px;
            }
        }

        .works-container {
            display: flex;
            gap: 24px;
            flex-wrap: nowrap;

            .work::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            }

            .work {
                border-radius: 24px;
                width: 703px;
                min-width: 703px;
                height: 703px;
                aspect-ratio: 1/1;
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                padding: 48px;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;
                }

                .work-information {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    h3 {
                        color: var(--white);
                    }

                    p {
                        color: var(--white);
                        font-weight: 300;
                    }
                }

                .circle.animated {
                    scale: 1;
                }

                .circle {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background: var(--green);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    transition: scale 0.3s ease;
                    scale: 0;
                    margin-top: -32px;
                    margin-left: -32px;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

.indicators {
    width: 100%;
    margin-top: var(--heading);

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .item {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .awesome {
                color: var(--black);
                display: flex;
                overflow: hidden;

                .animate-number {
                    display: flex;
                    flex-direction: column;
                    max-height: 128px;
                    justify-content: flex-start;
                }
            }

            p {
                color: var(--black);
                opacity: .4;
            }
        }
    }
}

.request {
    width: 100%;
    margin-top: var(--heading);

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--grey);
        border-radius: 24px;

        .request__image {
            position: relative;
            border-radius: 24px;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                -o-object-fit: cover;
                object-fit: cover;
            }


        }

        &-frame {
            padding: 50px 60px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .request__head {
                display: flex;
                flex-direction: column;
                gap: 30px;

                h2 {
                    color: var(--black);
                }

                p {
                    font-weight: 300;
                    color: var(--black);
                    opacity: .4;
                }
            }

            .request__form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .input-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        label {
                            font-size: 20px;
                            color: var(--black);
                            opacity: .5;
                        }

                        input {
                            width: 100%;
                            padding: 22px 30px;
                            border-radius: 500px;
                            background: var(--white);
                            border: 1px solid rgba(54, 59, 35, 0.2);
                            font-size: 17px;
                            color: var(--black);
                        }
                    }
                }

                .checkbox:has(input:checked) span {
                    background: var(--green);
                }

                .checkbox {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    cursor: pointer;

                    input {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        opacity: 0;
                    }

                    span {
                        width: 32px;
                        aspect-ratio: 1/1;
                        border: 0.5px solid #363b23;
                        border-radius: 8px;
                        background: var(--white);
                        transition: all 0.3s ease;
                    }

                    p {
                        font-size: 16px;
                        color: black;
                        opacity: 0.4;
                    }
                }

                button {
                    margin-top: 10px;
                    padding: 26px 40px;
                    max-width: max-content;
                }
            }
        }
    }
}