.material {
    width: 100%;
    margin-top: var(--heading);

    &__body {
        display: flex;
        flex-direction: column;
        gap: 70px;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h2 {
                color: var(--black);
            }
        }

        &-frame {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 48px;

                img {
                    aspect-ratio: 1/1;
                    border-radius: 24px;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }

                .info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        font-size: 42px;
                        color: var(--black);
                    }

                    p {
                        max-width: 60%;
                        font-size: 24px;
                        color: var(--black);
                        opacity: .4;
                    }
                }
            }
        }
    }
}