@import './reset';
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1920px;
    background: var(--white);
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.preloader{
    width: 100%;
    height: 100vh;
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        width: 460px;
        height: 176px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1720px;
}

.hidden{
    overflow: hidden;
}