@import './reset';
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1920px;
    background: var(--white);
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1720px;
}

.desk{
    display: flex !important;
}
.mob{
    display: none !important;
}
.hidden{
    overflow: hidden;
}