:root {
    --base-text: 18px;
    --medium-text: 22px;
    --big-text: 128px;
    --title-text: 82px;
    --button-text: 18px;
    --work-title: 56px;
}

.base {
    font-size: var(--base-text);
    line-height: 125%;
    text-align: start;
    font-weight: 400;
}

.medium {
    font-size: var(--medium-text);
    line-height: 140%;
    text-align: start;
    font-weight: 400;
}

.awesome {
    font-size: var(--big-text);
    line-height: 100%;
    text-align: start;
    font-weight: 400;
}

.title {
    font-size: var(--title-text);
    line-height: 100%;
    text-align: start;
    font-weight: 400;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    font-size: var(--button-text);
    line-height: 125%;
    text-align: start;
    font-weight: 400;
}

.work__title {
    font-size: var(--work-title);
    line-height: 100%;
    text-align: start;
    font-weight: 400;
}