.work__heading {
    width: 100%;
    margin-top: 207px;
    &-body {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .breadcrumbs {
            a:hover {
                opacity: 1;
            }

            a {
                color: var(--black);
                opacity: 0.4;
                transition: all 0.3s ease;
            }

            span {
                color: var(--black);
            }
        }

        h1 {
            color: var(--black);
        }

    }
}
.work__preview{
    width: 100%;
    margin-top: var(--heading);
    &-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        img{
            width: 100%;
            aspect-ratio: 2.5/1;
            object-fit: cover;
            border-radius: 24px;
        }
        &-attr{
            display: flex;
            justify-content: flex-end;
            gap: 70px;
            .item{
                display: flex;
                flex-direction: column;
                gap: 18px;
                span{
                    font-size: 24px;
                    color: var(--black);
                    opacity: .6;
                }
                p{
                    font-size: 32px;
                    color: var(--black);
                }
            }
        }
    }
}
.work__blocks{
    width: 100%;
    margin-top: var(--heading);
    &-body{
        display: flex;
        flex-direction: column;
        gap: 70px;
        &-about{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 70px;
            .head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                h2{
                    color: var(--black);
                }
                p{
                    color: var(--black);
                    opacity: .6;
                    max-width: 40%;
                }
            }
            img{
                width: 100%;
                aspect-ratio: 2.5/1;
                object-fit: cover;
                border-radius: 24px;
            }
        }
        &-attr{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .item{
                padding: 48px;
                display: flex;
                flex-direction: column;
                gap: 42px;
                h3{
                    font-size: 42px;
                    color: var(--black);
                }
                p{
                    color: var(--black);
                    opacity: .6;
                }
            }
        }
        &-gallery{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 24px;
            img{
                border-radius: 24px;
                object-fit: cover;
                width: 100%;
            }
            img:nth-child(1){
                grid-column: 1;
                grid-row: 1;
            }
            img:nth-child(2){
                grid-column: 2;
                grid-row: 1;
            }
            img:last-child{
                grid-column: 1 / 3;
                grid-row: 2;
            }
        }
    }
}