<section class="poster">
    <img src="../images/dist/about.webp" alt="">
    <div class="poster__body">
        <div class="poster__body-breadcrumbs el--left">
            <a class="medium" href="">Sākums -</a>
            <span class="medium">Par mums</span>
        </div>
        <h1 class="awesome main-title">Par mums</h1>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="about__body">
            <h2 class="title el--fade">
                Uzziniet, kas mēs esam <br> un ko mēs darām
            </h2>
            <div class="about__body-frame">
                <img class="el--opacity" src="../images/dist/about-img.webp" alt="">
                <div class="about__body-frame-info">
                    <div class="item el--opacity">
                        <h3 class="work__title">
                            Mēs varam realizēt <br> Jūsu sapņus
                        </h3>
                        <p class="medium">
                            Mūsu firma, kas dibināta 2005.gadā, orientējas uz mēbeļu izgatavošanu pēc individuāla
                            pasūtījuma. Mēs varam realizēt Jūsu sapņus, izmantojot mūsdienīgus kvalitatīvus materiālus
                            un plašu krāsu, toņu un faktūras izvēles klāstu .
                            <br><br>
                            Katram ir sava individuālā gaume un katrs vēlas redzēt savu īpašo “ rozīnīti ” , kas
                            harmoniski iederēsies mājā un priecēs katru dienu.
                        </p>
                    </div>
                    <div class="item el--opacity">
                        <h3 class="work__title">
                            Tieši klients vienmēr <br> ir projekta autors
                        </h3>
                        <p class="medium">
                            Mēs tikai palīdzam realizēt idejas dzīvē. Tādā veidā, katrs priekšmets ir neatkārtojams.
                            Mēbeles pēc pasūtījuma spēj iemiesot Jūsu sapni un uzskatus par dzīvokļa (mājas) iekārtojumu
                            ar maksimālu komfortu, atbilstoši Jūsu dzīves veidam un stila izpratnei, saskaņā ar Jūsu
                            iespējām.
                            <br><br>
                            Kādām jābūt mēbelēm – kvalitatīvām, interesantām un individuālām. Mēs garantējam – mūsu
                            veidotās mēbeles neliks Jums vilties.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="indicators el--opacity">
    <div class="container">
        <div class="indicators__body">
            <div class="item el--fade">
                <div class="awesome">2005</div>
                <p class="medium">Dibināšanas gads</p>
            </div>
            <div class="item el--fade">
                <div class="awesome">1 600+</div>
                <p class="medium">Projekts</p>
            </div>
            <div class="item el--fade">
                <div class="awesome">500+</div>
                <p class="medium">Klienti</p>
            </div>
        </div>
    </div>
</section>
<section class="request">
    <div class="container">
        <div class="request__body">
            <div class="request__image el--opacity">
                <img src="images/dist/feedback.webp" alt="" />
            </div>
            <div class="request__body-frame">
                <div class="request__head el--fade">
                    <h2 class="work__title">
                        Izsaukt meistaru <br />
                        mērījumiem
                    </h2>
                    <p class="medium">
                        Norādiet adresi un savus kontaktus - mēs <br />
                        sazināsimies ar jums, lai saskaņotu par meistara vizīti.
                    </p>
                </div>
                <form action="" class="request__form">
                    <div class="inputs el--fade">
                        <div class="input-wrap">
                            <label class="medium" for="">Jūsu adrese</label>
                            <input placeholder="Viestura prospekts 2, Ziemeļu rajons, Rīga, LV-1005" type="text" />
                        </div>
                        <div class="input-wrap el--fade">
                            <label class="medium" for="">Jūsu tālruņa numurs</label>
                            <input placeholder="+371 20 000 000" type="tel" />
                        </div>
                    </div>
                    <div class="checkbox el--fade">
                        <input type="checkbox" />
                        <span></span>
                        <p>
                            Atzīmējiet, ja šim numuram ir WhatsApp, un vēlaties saņemt
                            atbildi tur.
                        </p>
                    </div>
                    <button class="button button--green button--middle el--fade button-fade">
                        Nosūtīt pieprasījumu
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>