<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__body-main">
                <div class="info">
                    <p class="medium">
                        Sāciet iegādāties savu sapņu <br> mēbeles jau šodien
                    </p>
                    <button class="button-green button">
                        Cenas kalkulators
                    </button>
                </div>
                <div class="menus">
                    <nav>
                        <span class="medium">Tips</span>
                        <ul>
                            <li class="base">
                                <a href="">Virtuves</a>
                            </li>
                            <li class="base">
                                <a href="">Iebūvētie Skapji</a>
                            </li>
                            <li class="base">
                                <a href="">Mēbeles vannas istabai</a>
                            </li>
                            <li class="base">
                                <a href="">Pārējās mēbeles</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <span class="medium">Sadaļas</span>
                        <ul>
                            <li class="base">
                                <a href="">Par mums</a>
                            </li>
                            <li class="base">
                                <a href="">Materiāli</a>
                            </li>
                            <li class="base">
                                <a href="">Kontakti</a>
                            </li>
                            <li class="base">
                                <a href="">Mūsu darbi</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <span class="medium">Juridisks</span>
                        <ul>
                            <li class="base">
                                <a href="">Noteikumi un nosacījumi</a>
                            </li>
                            <li class="base">
                                <a href="">Privātuma politika</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer__body-soft">
                <p class="base">
                    © 2025 Anselat SIA Visas tiesības aizsargātas
                </p>
                <button class="base">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.8535 13.707L6.8535 0.707049" stroke="#AFB1A7" stroke-linejoin="round" />
                        <path d="M0.353516 7.20703L6.8535 0.707049L13.3535 7.20703" stroke="#AFB1A7" />
                    </svg>
                    Atpakaļ uz sākumu
                </button>
            </div>
        </div>
    </div>
</footer>