<header class="header back">
    <div class="container">
        <div class="header__body">
            <a href="" class="header__logo">
                <img src="images/dist/logo.svg" alt="" />
            </a>
            <nav class="header__menu">
                <ul>
                    <li class="base">
                        <a href="">Sākums</a>
                    </li>
                    <li class="base">
                        <a href="">Par mums</a>
                    </li>
                    <li class="base">
                        <a href="">Mūsu darbi</a>
                    </li>
                    <li class="base">
                        <a href="">Materiāli</a>
                    </li>
                    <li class="base">
                        <a href="">Kontakti</a>
                    </li>
                </ul>
            </nav>
            <div class="header__action">
                <div class="language base">
                    LV
                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.353516 0.353554L4.35352 4.35355L8.35352 0.353554" stroke="#363B23"
                            stroke-opacity="0.4" />
                    </svg>
                </div>
                <a href="" class="button button--green button--middle">
                    Aprēķināt cenu
                </a>
            </div>
        </div>
    </div>
</header>