<section class="poster">
    <img src="../images/dist/works.webp" alt="">
    <div class="poster__body">
        <div class="poster__body-breadcrumbs">
            <a class="medium" href="">Sākums -</a>
            <span class="medium">Mūsu darbi</span>
        </div>
        <h1 class="awesome">
            Mūsu darbi
        </h1>
        <div class="poster__body-works--tab">
            <button class="medium">
                Virtuves
            </button>
            <button class="medium">
                Iebūvētie Skapji
            </button>
            <button class="medium">
                Mēbeles vannas istabai
            </button>
            <button class="medium">
                Pārējās mēbeles
            </button>
        </div>
    </div>
</section>
<section class="case">
    <div class="container">
        <div class="case__body">
            <div class="case__body-item">
                <h3 class="title">
                    Virtuves
                </h3>
                <div class="item--frame">
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/1.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #1</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/2.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #2</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/3.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #3</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="case__body-item">
                <h3 class="title">
                    Iebūvētie skapji
                </h3>
                <div class="item--frame">
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/1.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #1</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/2.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #2</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/3.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #3</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="case__body-item">
                <h3 class="title">
                    Mēbeles vannas istabai
                </h3>
                <div class="item--frame">
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/1.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #1</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/2.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #2</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/3.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #3</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="case__body-item">
                <h3 class="title">
                    Pārējās mēbeles
                </h3>
                <div class="item--frame">
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/1.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #1</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/2.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #2</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/3.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #3</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>