<section class="work__heading">
    <div class="container">
        <div class="work__heading-body">
            <div class="breadcrumbs">
                <a class="medium" href="">Sākums -</a>
                <span class="medium">Virtuve #1</span>
            </div>
            <h1 class="awesome">
                Virtuve #1
            </h1>
        </div>
    </div>
</section>
<section class="work__preview">
    <div class="container">
        <div class="work__preview-body">
            <img src="../images/dist/work.webp" alt="">
            <div class="work__preview-body-attr">
                <div class="item">
                    <span class="medium">
                        Klients
                    </span>
                    <p class="medium">
                        Devide Smith
                    </p>
                </div>
                <div class="item">
                    <span class="medium">
                        Datums
                    </span>
                    <p class="medium">
                        2025. gada 28. februāris
                    </p>
                </div>
                <div class="item">
                    <span class="medium">
                        Atrašanās vieta
                    </span>
                    <p class="medium">
                        Rīga
                    </p>
                </div>
                <div class="item">
                    <span class="medium">
                        Tip
                    </span>
                    <p class="medium">
                        Virtuves
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="work__blocks">
    <div class="container">
        <div class="work__blocks-body">
            <div class="work__blocks-body-about">
                <div class="head">
                    <h2 class="work__title">
                        Sarežģītu problēmu pārvarēšana <br> ar mūsu risinājumiem
                    </h2>
                    <p class="medium">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <img src="../images/dist/work-about.webp" alt="">
            </div>
            <div class="work__blocks-body-attr">
                <div class="item">
                    <h3 class="medium">Mūsdienu mantojums</h3>
                    <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar
                        tortor. Maecenas tincidunt massa a erat convallis.</p>
                </div>
                <div class="item">
                    <h3 class="medium">Mūsdienu mantojums</h3>
                    <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar
                        tortor. Maecenas tincidunt massa a erat convallis.</p>
                </div>
                <div class="item">
                    <h3 class="medium">Mūsdienu mantojums</h3>
                    <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar
                        tortor. Maecenas tincidunt massa a erat convallis.</p>
                </div>
            </div>
            <div class="work__blocks-body-gallery">
                <img src="../images/dist/grid/1.png" alt="">
                <img src="../images/dist/grid/2.png" alt="">
                <img src="../images/dist/grid/3.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="case">
    <div class="container">
        <div class="case__body">
            <div class="case__body-item">
                <div class="case--item-head">
                    <h3 class="title">
                        Labākie izcelti projekti
                    </h3>
                    <button class="button button--green button--middle">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.530273 13.75L13.5303 0.750001" stroke="#363B23" stroke-width="1.5"
                                stroke-linejoin="round" />
                            <path d="M0.530273 0.75L13.5303 0.750001L13.5303 13.75" stroke="#363B23"
                                stroke-width="1.5" />
                        </svg>
                        Skatīt darbus
                    </button>
                </div>

                <div class="item--frame">
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/1.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #1</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                    <a href="" class="item--frame-el">
                        <div class="wrap">
                            <img src="../images/dist/case/2.png" alt="">
                            <div class="circle">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.70703 17L16.707 1" stroke="#363B23" stroke-width="2"
                                        stroke-linejoin="round" />
                                    <path d="M0.707031 1L16.707 1L16.707 17" stroke="#363B23" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                        <div class="info">
                            <h4 class="medium">Virtuve #2</h4>
                            <p class="medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id pulvinar tortor.
                                Maecenas tincidunt massa a erat convallis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>